.footer{
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 0.3rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 40px;*/
}

.footer p{
    color: #fff;
    text-align: center;
    
}

.footer a{
    color: #fff;
    text-decoration: none;
}